* {
    /* CSS Variables */
    --primary: rgb(80, 80, 80);
    --secondary: rgb(255 148 70);
    --highlight: rgb(0, 255, 240);
    --fontColor: rgb(0, 0, 0);
    --windowColor: rgb(42, 75, 87);
    --terminalColor: rgb(25, 45, 50);
    /*
        --backgroundColor: rgb(80, 80, 80);
        --borderColor: rgb(0, 255, 180);
        --fontColor: rgb(0, 0, 0);
        --windowColor: rgb(42, 75, 87);
        --componentColor: rgb(255 148 70);
        --terminalColor: rgb(25, 45, 50);
    */

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    font-family: Courier New, Courier, monospace;
    color: var(--fontColor);
    overflow: hidden;
}

body {
    background-color: var(--primary);
    background-size: 100% 100%;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

#game {
    position: fixed;
    width: 0dvw;
    height: 0dvh;
    align-self: center;
    align-items: center;
    background-image: url("Assets/Images/GameBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.2s;
}

#project {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    height: 100%;
    width: auto;
    background-color: var(--primary);
}
#scene {
    width: 100%;
    height: 75%;
    background-image: url("Assets/Images/SceneBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid var(--highlight);
}
#taskbar {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 25%;
    justify-content: left;
    background-color: var(--windowColor);
    border-right: 2px solid var(--highlight);
}
input[type="file"] {
    display: none;
}
#fileSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 15%;
    height: 0%;
    opacity: 0%;
    transition: 0.2s;
    font-size: 500%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.5) 0px -8px 10px;
}
#files {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: auto;
    width: 85%;
    height: 0%;
    opacity: 0%;
    transition: 0.2s;
}
.file {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--secondary);
    border: 10px solid var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.5) 0px -8px 10px;
}

#inspector {
    display: flex;
    flex-direction: column;
    right: 0;
    width: 20dvw;
    height: 100%;
    background-color: var(--windowColor);
}
#projectSettings {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    opacity: 100%;
    height: auto;
    background-color: var(--windowColor);
    transition: 0.2s;
}
.component {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0%;
    width: 0%;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -8px 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--secondary);
    transition: 0.2s;
}
.componentHeader {
    font-size: 150%;
    align-self: center;
    text-align: center;
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    cursor: pointer;
}
.componentBody {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: 0.2s;
}
.componentItem {
    width: 100%;
}

#terminal {
    display: none;
    flex-direction: row;
    position: fixed;
    width: 80dvw;
    height: 80dvh;
    align-self: center;
    padding: 2%;
    border: 2px solid var(--secondary);
    border-radius: 50px;
    background-color: var(--terminalColor);
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
    transition: 0.2s;
}
#scriptText {
    width: 70%;
    padding: 2%;
    color: white;
    font-size: 100%;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    background-color: black;
    resize: none;
}
#references {
    width: 30%;
    padding: 2%;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    color: white;
    background-color: black;
}